:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-dark: #212121;
  --secondary-text-color-dark: #757575;
  --primary-text-color-light: #ffffff;
  --secondary-text-color-light: rgba(255, 255, 255, 0.6);
  --primary-bgc-dark: #2f303a;
  --secondary-bgc-light: #f5f4fa;
  --accent-color: #2196f3;
}
.page {
  color: var(--primary-text-color-dark);
  background-color: var(--primary-text-color-light);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* start header */
.logo-primary {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-secondary {
  color: var(--primary-text-color-dark);
}
.nav-link {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contact-link {
  color: var(--secondary-text-color-dark);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.nav-list .current {
  color: var(--accent-color);
}
/* finish header */
/* start hero */
.hero {
  color: var(--primary-text-color-light);
  background-color: var(--primary-bgc-dark);
  letter-spacing: 0.06em;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-btn {
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}
/* finish hero */
/* start features */
.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  color: var(--secondary-text-color-dark);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* finish features */
/* start work-section */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* finish work-section */
/* start team-box */
.team-box {
  background-color: var(--secondary-bgc-light);
}
.team-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list-item {
  background-color: var(--primary-text-color-light);
}
.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.user-desc {
  color: var(--secondary-text-color-dark);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* finish team-box */
/* start portfolio-section */
.portfolio-section .btn-item {
  color: var(--primary-text-color-dark);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.portfolio-section .all:active {
  color: var(--primary-text-color-light);
  background-color: var(--accent-color);
}
.list-preview-items .preview-title {
  color: var(--primary-text-color-dark);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-preview-items .preview-text {
  color: var(--secondary-text-color-dark);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* finish portfolio-section */
/* start footer */
.footer {
  background-color: var(--primary-bgc-dark);
}
.footer-logo-primary {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo-secondary {
  color: var(--primary-text-color-light);
}
address {
  list-style: none;
}
.footer-list-links {
  font-style: normal;
}
.footer-link .adress {
  color: var(--primary-text-color-light);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link .adress:hover,
.footer-link .adress:focus {
  color: var(--accent-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* finish footer */
